* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.skeleton {
  background-color: #e5e5e5;
  border-radius:4px;
  animation: pulse 1.5s ease-in-out infinite; 
}

@keyframes pulse {
    0% {
    opacity: 0.7;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.7;
  }
}